%body
	%h1 #{@name}'s Blog
	%p
	%br
	%br
	= link_to "New Post", new_post_path
	- @posts.each do |entry|
		%h3
			=link_to "#{entry.title}",post_path(entry)
		%p	
			=link_to "Edit", edit_post_path(entry)
			|
			=link_to "Delete", entry, :method => :delete, :data => {confirm: 'you sure?'}
		%br

	- if flash[:notice].present?
		%p= flash[:notice]




