%h1= "#{@name}'s Blog"
%br

/ - @post_titles.each do |t|
/   	%h2= t
/ lesson 17 of http://learn.themakersquare.com/pages/rails/practicing-building-a-new-rails-app
 
/ - @posts.each do |entry|
/ 		%h2= entry.title
/ lesson 22 of http://learn.themakersquare.com/pages/rails/practicing-building-a-new-rails-app

- @posts.each do |entry|
		%h2=link_to entry.title, entry




